node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
src/reports/results
src/reports/output
src/reports/screenshots/**/*.png
src/reports/screenshots/**/*.jpeg
src/logs
.env